{% extends 'base.html' %}
{% block content %}
    <div class="player">
        <h1>{{ _('About Kill Team Data') }}</h1>
        <div class="player-ultra-container">
            <div class="player-super-container">
                <h3>{{ _('We just like Kill Team stats') }}</h3>
                <p>{{ _('This is a hobby project conceived with the hope of making the Kill Team community event better.') }}</p>
                <p>{{ _('If you want to contact us, you can do it either on Discord') }}</p>
                <p><a href="https://discord.com/">@Zakanawaner#2835</a></p>
                <p>{{ _('Or by sending an email to') }}</p>
                <p><a href="mailto:killteamdata@gmail.com">killteamdata@gmail.com</a></p>
            </div>
        </div>
    </div>
{% endblock %}