<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
</head>
<body>
    <div class="super-menu">
        <details>
            <summary class="nav-link">Menu</summary>
            <nav class="menu1">
              <a class="nav-link" href="/">General</a>
              <a class="nav-link" href="/games">Games</a>
              <a class="nav-link" href="/factions">Factions</a>
              <a class="nav-link" href="/players">Players</a>
              <a class="nav-link" href="/missions">Missions</a>
              <a class="nav-link" href="/secondaries">Secondaries</a>
              <!--<a class="nav-link" href="/team">Team KTD</a>-->
              {% if user %}
                  {% if user.permissions >= 7 %}
                      <a class="nav-link" href="/addupdate">Add Upd</a>
                  {% endif %}
                  {% if user.permissions >= 8 %}
                      <a class="nav-link" href="/update">Update</a>
                      <a class="nav-link" href="/startroutines">Start sch</a>
                      <a class="nav-link" href="/stoproutines">Stop sch</a>
                      <a class="nav-link" href="/randomize">Random</a>
                  {% endif %}
              {% endif %}
            </nav>
        </details>
        <div class="menu">
            {% if upd|length > 0 %}
                <select id="update" name="update" onchange="onUpdateSelected(this.value);">
                    {% for update in upd %}
                        {% if preferred == update.id|string %}
                            <option value="{{ update.id }}" selected>{{ update.name }} ({{ update.date.strftime('%Y-%m-%d') }})</option>
                        {% else %}
                            <option value="{{ update.id }}">{{ update.name }} ({{ update.date.strftime('%Y-%m-%d') }})</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endif %}
            {% if gt|length > 0 %}
                <select id="gameType" name="gameType" onchange="onGameTypeSelected(this.value);">
                    {% for gameType in gt %}
                        {% if preferredGameType == gameType.id|string %}
                            <option value="{{ gameType.id }}" selected>{{ gameType.name }}</option>
                        {% else %}
                            <option value="{{ gameType.id }}">{{ gameType.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endif %}
        </div>
        <div class="menu">
            {% if user %}
                <a class="nav-link" href="/player/{{ user.id }}">{{ user.username }}</a>
            {% else %}
                <a class="nav-link" href="/login">Login</a>
            {% endif %}
            <a class="nav-link" href="/about">About</a>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
    <script>
        var objectsUp = document.getElementsByClassName('update-dependent');
        var objectsGt = document.getElementsByClassName('gameType-dependent');
        var popUpDelete = document.getElementsByClassName('popup-delete');

        function onUpdateSelected(val) {
            document.cookie = "preferred_update="+val;
            for (let obj of objectsUp) {
                if (obj.id == ('update' + val)) {
                    obj.style.display = 'flex';
                } else {
                    obj.style.display = 'none';
                }
            }
        }
        function onGameTypeSelected(val) {
            document.cookie = "preferred_gameType="+val;
            location.reload();
        }
        function onDeleteUser() {
        console.log("entro");
            popUpDelete[0].style.display = 'flex';
            popUpDelete[0].style.position = 'absolute';
            popUpDelete[0].style.top = '25%';
            popUpDelete[0].style.left = '25%';
            popUpDelete[0].style.width = '50%';
            popUpDelete[0].style.height = '50%';
            popUpDelete[0].style.background = 'linear-gradient(180deg, rgba(114,53,0,1) 0%, rgba(0,0,0,1) 70%)';
        }
    </script>
</html>