<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
</head>
<body>
    <div class="super-menu">
        <details>
            <summary class="nav-link">Menu</summary>
            <nav class="menu1">
              <a class="nav-link" href="/">General</a>
              <a class="nav-link" href="/games">Games</a>
              <a class="nav-link" href="/factions">Factions</a>
              <a class="nav-link" href="/players">Players</a>
              <a class="nav-link" href="/missions">Missions</a>
              <a class="nav-link" href="/secondaries">Secondaries</a>
              {% if user %}
                  {% if user.permissions >= 7 %}
                      <a class="nav-link" href="/addupdate">Add Upd</a>
                  {% endif %}
                  {% if user.permissions >= 8 %}
                      <a class="nav-link" href="/update">Update</a>
                      <a class="nav-link" href="/startroutines">Start sch</a>
                      <a class="nav-link" href="/stoproutines">Stop sch</a>
                      <a class="nav-link" href="/randomize">Random</a>
                  {% endif %}
              {% endif %}
            </nav>
        </details>
        {% if upd|length > 0 %}
            <div class="menu">
                <select id="update" name="update" onchange="onUpdateSelected(this.value);">
                    {% for update in upd %}
                        {% if preferred == update.id|string %}
                            <option value="{{ update.id }}" selected>{{ update.name }} ({{ update.date.strftime('%Y-%m-%d') }})</option>
                        {% else %}
                            <option value="{{ update.id }}">{{ update.name }} ({{ update.date.strftime('%Y-%m-%d') }})</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div class="menu">
            {% if user %}
                <a class="nav-link" href="/player/{{ user.id }}">{{ user.username }}</a>
            {% else %}
                <a class="nav-link" href="/login">Login</a>
            {% endif %}
            <a class="nav-link" href="/about">About</a>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
    <script>
        var objects = document.getElementsByClassName('update-dependent');

        function onUpdateSelected(val) {
            document.cookie = "preferred_update="+val;
            for (let obj of objects) {
                if (obj.id == ('update' + val)) {
                    obj.style.display = 'flex';
                } else {
                    obj.style.display = 'none';
                }
            }
        }
    </script>
</html>