<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
</head>
<body>
    <div class="menu">
      <a class="nav-link" href="/">General</a>
      <a class="nav-link" href="/games">Games</a>
      <a class="nav-link" href="/factions">Factions</a>
      <a class="nav-link" href="/players">Players</a>
      <a class="nav-link" href="/missions">Missions</a>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
</html>