{% extends 'base.html' %}
{% block content %}
    <div class="table-container">
        <div class="table">
            <div class="table-header">
                <div class="header__item">Name</div>
                <div class="header__item">Winrate</div>
                <div class="header__item">Best Counter</div>
                <div class="header__item">Worst Counter</div>
                <div class="header__item">Popularity</div>
                <div class="header__item">Top Mission</div>
                <div class="header__item">Top Secondaries</div>
            </div>
            <div class="table-content">
                {% for faction in factions %}
                    <div class="table-row">
                        <div onclick="location.href='/faction/{{ faction['sql'].id }}';" class="table-data table-link">{{ faction['sql'].name }}</div>
                        <div class="table-data">{{ faction['winRate'] }}</div>
                        {% if faction['winnerRates']|length >0 %}
                            <div onclick="location.href='/faction/{{ faction['winnerRates'][0].id }}';" class="table-data table-link">{{ faction['winnerRates'][0].name }}</div>
                        {% else %}
                            <div class="table-data table-link">-</div>
                        {% endif %}
                        {% if faction['loserRates']|length >0 %}
                            <div onclick="location.href='/faction/{{ faction['loserRates'][0].id }}';" class="table-data table-link">{{ faction['loserRates'][0].name }}</div>
                        {% else %}
                            <div class="table-data table-link">-</div>
                        {% endif %}
                        <div class="table-data">{{ faction['popularity'] }}%</div>
                        {% if faction['bestMissions']|length >0 %}
                            <div onclick="location.href='/mission/{{ faction['bestMissions'][0].id }}';" class="table-data table-link">{{ faction['bestMissions'][0].name }}</div>
                        {% else %}
                            <div class="table-data table-link">-</div>
                        {% endif %}
                        {% if faction['bestSecondaries']|length >0 %}
                            <div onclick="location.href='/secondary/{{ faction['bestSecondaries'][0].id }}';" class="table-data table-link">{{ faction['bestSecondaries'][0].name }}</div>
                        {% else %}
                            <div class="table-data table-link">-</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}