{% extends 'base.html' %}
{% block content %}
    <div class="cards-list">
        <div onclick="location.href='/games';" class="card">
            <div class="card_title">
                <h2>{{ _('Games') }}</h2>
            </div>
            <div class="card_content">
                <p>{{ _('Total') }}: {{ gen['totalGames'] }}</p>
                <p>{{ _('Avg Winner') }}: {{ gen['avgWinner'] }}</p>
                <p>{{ _('Avg Loser') }}: {{ gen['avgLoser'] }}</p>
            </div>
        </div>
        <div onclick="location.href='/players';" class="card">
            <div class="card_title">
                <h2>{{ _('Players') }}</h2>
            </div>
            <div class="card_content">
                <p>{{ _('Total players') }}: {{ gen['totalPlayers'] }}</p>
                <p>{{ _('Top') }} 1: {{ gen['top1Player'] }}</p>
                <p>{{ _('Top') }} 2: {{ gen['top2Player'] }}</p>
                <p>{{ _('Top') }} 3: {{ gen['top3Player'] }}</p>
            </div>
        </div>
        <!--<div onclick="location.href='/tournaments';" class="card">
            <div class="card_title">
                <h2>{{ _('Tournaments') }}</h2>
            </div>
        </div>-->
        <div onclick="location.href='/factions';" class="card">
            <div class="card_title">
                <h2>{{ _('Factions') }}</h2>
            </div>
            <div class="card_content">
                <p>{{ _('Top') }}: {{ gen['factionMostWinRate'] }}</p>
                <p>{{ _('Most played') }}: {{ gen['factionMostPlayed'] }}</p>
                <p>{{ _('Less played') }}: {{ gen['factionLessPlayed'] }}</p>
            </div>
        </div>
        <div onclick="location.href='/missions';" class="card">
            <div class="card_title">
                <h2>{{ _('Missions') }}</h2>
            </div>
            <div class="card_content">
                <p>{{ _('Most played') }}: {{ gen['missionMostPlayed'] }}</p>
                <p>{{ _('Less played') }}: {{ gen['missionLessPlayed'] }}</p>
            </div>
        </div>
        <div onclick="location.href='/secondaries';" class="card">
            <div class="card_title">
                <h2>{{ _('Secondaries') }}</h2>
            </div>
            <div class="card_content">
                <p>{{ _('Most played') }}: {{ gen['secondaryMostPlayed'] }}</p>
                <p>{{ _('Less played') }}: {{ gen['secondaryLessPlayed'] }}</p>
            </div>
        </div>
    </div>
    <div class="graph">
        <h2>{{ _('Games played last year') }}</h2>
        <div class="graph-container">
            <div class="year-stats">
                {% for month in gen['played'].keys() %}
                    <div class="month-group hoverme">
                        <div class="pop">
                            <p class="text">{{ gen['played'][month] }} games</p>
                        </div>
                        {% if gen['maxPlayed'] > 0 %}
                            <div class="bar" style="height: {{ gen['played'][month] * 100 / gen['maxPlayed'] }}%;"></div>
                            <div class="back-bar" style="height: {{ 100 }}%;"></div>
                        {% else %}
                            <div class="bar" style="height: {{ 0 }}%;"></div>
                            <div class="back-bar" style="height: {{ 100 }}%;"></div>
                        {% endif %}
                        <p class="month">{{ month }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}