{% extends 'base.html' %}
{% block content %}
    <div class="login">
        <h2>{{ _('Login') }}</h2>
        <form class="login-form" action="/login" method="post">
            <input placeholder="Username" type="text" name="username" id="username">
            <input placeholder="Password" type="password" name="password" id="password">
            <button type="submit">{{ _('Login') }}</button>
        </form>
        <a href="/signup">{{ _('Don't have account? Signup here') }}</a>
    </div>
{% endblock %}