{% extends 'base.html' %}
{% block content %}
    <div class="table-container update-dependent" style="display: flex;">
        <div class="table">
            <div class="table-header">
                <div class="header__item">{{ _('Name') }}</div>
                <div class="header__item">{{ _('Popularity') }}</div>
                <div class="header__item">{{ _('Avg Score') }}</div>
                <div class="header__item">{{ _('Top Faction') }}</div>
                <div class="header__item">{{ _('Worst Faction') }}</div>
            </div>
            <div class="table-content">
                {% for mission in missions %}
                    <div class="table-row">
                        <div onclick="location.href='/mission/{{ mission['sql'].id }}';" class="table-data table-link">{{ mission['sql'].name }}</div>
                        <div class="table-data">{{ mission['rates']['popularity'] }}%</div>
                        <div class="table-data">{{ mission['sql'].avgScore }}</div>
                        {% if mission['rates']['topFaction'] %}
                            <div onclick="location.href='/faction/{{ mission['rates']['topFaction'].id }}';" class="table-data table-link">{{ mission['rates']['topFaction'].name }}</div>
                        {% else %}
                            <div class="table-data table-link">-</div>
                        {% endif %}
                        {% if mission['rates']['worstFaction'] %}
                            <div onclick="location.href='/faction/{{ mission['rates']['worstFaction'].id }}';" class="table-data table-link">{{ mission['rates']['worstFaction'].name }}</div>
                        {% else %}
                            <div class="table-data table-link">-</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}