{% extends 'base.html' %}
{% block content %}
    {% if upd|length > 0 %}
        {% for update in upd %}
            {% if preferred == update.id|string %}
                <div class="player update-dependent" id="update{{ update.id }}" style="display: flex;">
            {% else %}
                <div class="player update-dependent" id="update{{ update.id }}">
            {% endif %}
                <h1>{{ mission['sql'].name }}</h1>
                <div class="pie-container at-0-8">
                    <div class="pie animate no-round" style="--p:{{ mission['updates'][update.id|string][preferredGameType]['popularity'] }};--c:rgba(255,101,0,1);--b:15px">
                        <p>Popularity</p>
                        <p>{{ mission['updates'][update.id|string][preferredGameType]['popularity'] }}%</p>
                    </div>
                </div>
                <!--<div class="graph-container">
                    <div class="year-stats">
                        {% for month in mission['updates'][update.id|string][preferredGameType]['games'].keys() %}
                            <div class="month-group hoverme">
                                <div class="pop">
                                    <p class="text">{{ mission['updates'][update.id|string][preferredGameType]['games'][month] }} games</p>
                                </div>
                                {% if mission['updates'][update.id|string][preferredGameType]['maxGames'] > 0 %}
                                    <div class="bar" style="height: {{ mission['updates'][update.id|string][preferredGameType]['games'][month] * 100 / mission['updates'][update.id|string][preferredGameType]['maxGames'] }}%;"></div>
                                    <div class="back-bar" style="height: {{ 100 }}%;"></div>
                                {% else %}
                                    <div class="bar" style="height: {{ 0 }}%;"></div>
                                    <div class="back-bar" style="height: {{ 100 }}%;"></div>
                                {% endif %}
                                <p class="month">{{ month }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>-->
                <div class="player-super-container">
                    <h2>Factions played with</h2>
                    <div class="table-container">
                        <div class="table">
                            <div class="table-header">
                                <div class="header__item">Name</div>
                                <div class="header__item">Games</div>
                                <div class="header__item">Win Rate</div>
                                <div class="header__item">Lose Rate</div>
                                <div class="header__item">Tie Rate</div>
                            </div>
                            <div class="table-content">
                                {% for key, fact in mission['updates'][update.id|string][preferredGameType]['bestFactions'].items() %}
                                    {% if fact['games'] > 0 %}
                                        <div class="table-row">
                                            <div onclick="location.href='/faction/{{ fact['id'] }}';" class="table-data table-link">{{ key }}</div>
                                            <div class="table-data">{{ fact['games'] }}</div>
                                            <div class="table-data">{{ fact['winRate'] }}%</div>
                                            <div class="table-data">{{ fact['loseRate'] }}%</div>
                                            <div class="table-data">{{ fact['tieRate'] }}%</div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}