{% extends 'base.html' %}
{% block content %}
    <div class="graph">
        <h1>{{ mission['sql'].name }}</h1>
        <div class="pie-container at-0-8">
            <div class="pie animate no-round" style="--p:{{ mission['popularity'] }};--c:rgba(255,101,0,1);--b:15px">
                <p>Popularity</p>
                <p>{{ mission['popularity'] }}%</p>
            </div>
        </div>
        <div class="graph-container">
            <div class="year-stats">
                {% for month in mission['games'].keys() %}
                    <div class="month-group hoverme">
                        <div class="pop">
                            <p class="text">{{ mission['games'][month] }} games</p>
                        </div>
                        {% if mission['maxGames'] > 0 %}
                            <div class="bar" style="height: {{ mission['games'][month] * 100 / mission['maxGames'] }}%;"></div>
                            <div class="back-bar" style="height: {{ 100 }}%;"></div>
                        {% else %}
                            <div class="bar" style="height: {{ 0 }}%;"></div>
                            <div class="back-bar" style="height: {{ 100 }}%;"></div>
                        {% endif %}
                        <p class="month">{{ month }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="pie-ultra-container">
            <div class="pie-super-container">
                <h2>Best Factions</h2>
                <div class="pie-container at-0-8">
                    {% for key, value in mission['bestFactions'].items() %}
                        <div class="pie-inner">
                            <div onclick="location.href='/faction/{{ value['id'] }}';" class="pie animate no-round" style="--p:{{ value['winRate'] }};--c:rgba(255,101,0,1);--b:15px">
                                <img class="pie_image" src="{{ url_for('static', filename='images/' + value['shortName'] + '.png') }}"/>
                            </div>
                            <p>{{ key }}</p>
                            <p>{{ value['winRate'] }}%</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pie-super-container">
                <h2>Worst Factions</h2>
                <div class="pie-container at-0-8">
                    {% for key, value in mission['worstFactions'].items() %}
                        <div class="pie-inner">
                            <div onclick="location.href='/faction/{{ value['id'] }}';" class="pie animate no-round" style="--p:{{ value['winRate'] }};--c:rgba(255,101,0,1);--b:15px">
                                <img class="pie_image" src="{{ url_for('static', filename='images/' + value['shortName'] + '.png') }}"/>
                            </div>
                            <p>{{ key }}</p>
                            <p>{{ value['winRate'] }}%</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}