{% extends 'base.html' %}
{% block content %}
    {% if upd|length > 0 %}
        {% for update in upd %}
            {% if preferred == update.id|string %}
                <div class="player update-dependent" id="update{{ update.id }}" style="display: flex;">
            {% else %}
                <div class="player update-dependent" id="update{{ update.id }}">
            {% endif %}
                <h1>{{ player['sql'].username }}</h1>
                {% if player['sql'].allowSharing and player['sql'].steamLink %}
                    <h3>{{ _('Winrate') }}: {{ player['updates'][update.id|string][preferredGameType]['winRate'] }}</h3>
                    <div class="player-ultra-container">
                        <h3>{{ _('Games won') }}: {{ player['updates'][update.id|string][preferredGameType]['wins'] }}</h3>
                        <h3>{{ _('Games lost') }}: {{ player['updates'][update.id|string][preferredGameType]['loses'] }}</h3>
                        <h3>{{ _('Games tied') }}: {{ player['updates'][update.id|string][preferredGameType]['ties'] }}</h3>
                    </div>
                    <div class="player-super-container">
                        <div class="pie-container at-0-8">
                            <div class="pie-inner">
                                {% if player['updates'][update.id|string][preferredGameType]['factionRates']|length > 0 %}
                                    <h3>{{ _('Best Faction') }}</h3>
                                    <div onclick="location.href='/faction/{{ player['updates'][update.id|string][preferredGameType]['factionRates'][0]['id'] }}';" class="pie animate no-round" style="--p:{{ player['updates'][update.id|string][preferredGameType]['factionRates'][0]['winRate'] }};--c:rgba(0,230,64,1);--b:5px">
                                        <img class="pie_image" src="{{ url_for('static', filename='images/' + player['updates'][update.id|string][preferredGameType]['factionRates'][0]['shortName'] + '.png') }}"/>
                                    </div>
                                    <p>{{ player['updates'][update.id|string][preferredGameType]['factionRates'][0]['name'] }}</p>
                                    <p>{{ player['updates'][update.id|string][preferredGameType]['factionRates'][0]['winRate'] }}%</p>
                                {% endif %}
                            </div>
                            <div class="pie-inner">
                                {% if player['updates'][update.id|string][preferredGameType]['missionRates']|length > 0 %}
                                    <h3>{{ _('Best Mission') }}</h3>
                                    <div onclick="location.href='/mission/{{ player['updates'][update.id|string][preferredGameType]['missionRates'][0]['id'] }}';" class="pie animate no-round" style="--p:{{ player['updates'][update.id|string][preferredGameType]['missionRates'][0]['winRate'] }};--c:rgba(0,230,64,1);--b:5px">
                                    </div>
                                    <p>{{ player['updates'][update.id|string][preferredGameType]['missionRates'][0]['name'] }}</p>
                                    <p>{{ player['updates'][update.id|string][preferredGameType]['missionRates'][0]['winRate'] }}%</p>
                                {% endif %}
                            </div>
                            <div class="pie-inner">
                                {% if player['updates'][update.id|string][preferredGameType]['secondaryRates']|length > 0 %}
                                    <h3>{{ _('Best Secondary') }}</h3>
                                    <div onclick="location.href='/secondary/{{ player['updates'][update.id|string][preferredGameType]['secondaryRates'][0]['id'] }}';" class="pie animate no-round" style="--p:{{ player['updates'][update.id|string][preferredGameType]['secondaryRates'][0]['winRate'] }};--c:rgba(0,230,64,1);--b:5px">
                                    </div>
                                    <p>{{ player['updates'][update.id|string][preferredGameType]['secondaryRates'][0]['name'] }}</p>
                                    <p>{{ player['updates'][update.id|string][preferredGameType]['secondaryRates'][0]['winRate'] }}%</p>
                                {% endif %}
                            </div>
                        </div>
                        <h2>{{ _('Factions played against') }}</h2>
                        <div class="table-container">
                            <div class="table">
                                <div class="table-header">
                                    <div class="header__item">{{ _('Name') }}</div>
                                    <div class="header__item">{{ _('Winrate') }}</div>
                                    <div class="header__item">{{ _('Loserate') }}</div>
                                    <div class="header__item">{{ _('Tierate') }}</div>
                                </div>
                                <div class="table-content">
                                    {% for faction in player['updates'][update.id|string][preferredGameType]['factionRatesAgainst'] %}
                                        <div class="table-row">
                                            <div onclick="location.href='/faction/{{ faction['id'] }}';" class="table-data table-link">{{ faction['name'] }}</div>
                                            <div class="table-data">{{ faction['winRate'] }}%</div>
                                            <div class="table-data">{{ faction['loseRate'] }}%</div>
                                            <div class="table-data">{{ faction['tieRate'] }}%</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <h2>{{ _('Factions played with') }}</h2>
                        <div class="table-container">
                            <div class="table">
                                <div class="table-header">
                                    <div class="header__item">{{ _('Name') }}</div>
                                    <div class="header__item">{{ _('Winrate') }}</div>
                                    <div class="header__item">{{ _('Loserate') }}</div>
                                    <div class="header__item">{{ _('Tierate') }}</div>
                                </div>
                                <div class="table-content">
                                    {% for faction in player['updates'][update.id|string][preferredGameType]['factionRates'] %}
                                        <div class="table-row">
                                            <div onclick="location.href='/faction/{{ faction['id'] }}';" class="table-data table-link">{{ faction['name'] }}</div>
                                            <div class="table-data">{{ faction['winRate'] }}%</div>
                                            <div class="table-data">{{ faction['loseRate'] }}%</div>
                                            <div class="table-data">{{ faction['tieRate'] }}%</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <h2>{{ _('Missions played') }}</h2>
                        <div class="table-container">
                            <div class="table">
                                <div class="table-header">
                                    <div class="header__item">{{ _('Name') }}</div>
                                    <div class="header__item">{{ _('Winrate') }}</div>
                                    <div class="header__item">{{ _('Loserate') }}</div>
                                    <div class="header__item">{{ _('Tierate') }}</div>
                                </div>
                                <div class="table-content">
                                    {% for mission in player['updates'][update.id|string][preferredGameType]['missionRates'] %}
                                        <div class="table-row">
                                            <div onclick="location.href='/mission/{{ mission['id'] }}';" class="table-data table-link">{{ mission['name'] }}</div>
                                            <div class="table-data">{{ mission['winRate'] }}%</div>
                                            <div class="table-data">{{ mission['loseRate'] }}%</div>
                                            <div class="table-data">{{ mission['tieRate'] }}%</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <h2>{{ _('Secondaries played') }}</h2>
                        <div class="table-container">
                            <div class="table">
                                <div class="table-header">
                                    <div class="header__item">{{ _('Name') }}</div>
                                    <div class="header__item">{{ _('Winrate') }}</div>
                                    <div class="header__item">{{ _('Loserate') }}</div>
                                    <div class="header__item">{{ _('Tierate') }}</div>
                                </div>
                                <div class="table-content">
                                    {% for secondary in player['updates'][update.id|string][preferredGameType]['secondaryRates'] %}
                                        <div class="table-row">
                                            <div onclick="location.href='/secondary/{{ secondary['id'] }}';" class="table-data table-link">{{ secondary['name'] }}</div>
                                            <div class="table-data">{{ secondary['winRate'] }}%</div>
                                            <div class="table-data">{{ secondary['loseRate'] }}%</div>
                                            <div class="table-data">{{ secondary['tieRate'] }}%</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if user %}
                        {% if user.permissions >= 13 %}
                            <div class="player-super-container">
                                <div class="table-data">Current permission: {{ player['sql'].permissions }}</div>
                                <div class="table-data">
                                    <form class="permission-form" action="/player/{{ player['sql'].id }}/permission" method="post">
                                        <select id="permission" name="permission">
                                            {% for perm in permissions %}
                                                {% if perm < user.permissions %}
                                                    <option value="{{ perm }}">{{ perm }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <button type="submit">Change Permissions</button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <div class="player-super-container">
                        <h3>{{ _("This User hasn't yet linked this account with Steam") }}</h3>
                    </div>
                {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}