{% extends 'base.html' %}
{% block content %}
    <div class="player">
        <h1>{{ player['sql'].username }}</h1>
        {% if player['sql'].allowSharing and player['sql'].steamLink %}
            <h3>Winrate: {{ player['winRate'] }}</h3>
            <div class="player-ultra-container">
                <h3>Games won: {{ player['sql'].wins }}</h3>
                <h3>Games lost: {{ player['sql'].loses }}</h3>
                <h3>Games tied: {{ player['sql'].ties }}</h3>
            </div>
            <div class="player-super-container">
                <div class="pie-container at-0-8">
                    <div class="pie-inner">
                        {% if player['factionRates']|length > 0 %}
                            <h3>Best Faction</h3>
                            <div onclick="location.href='/faction/{{ player['factionRates'][0]['id'] }}';" class="pie animate no-round" style="--p:{{ player['factionRates'][0]['winRate'] }};--c:rgba(0,230,64,1);--b:5px">
                                <img class="pie_image" src="{{ url_for('static', filename='images/' + player['factionRates'][0]['shortName'] + '.png') }}"/>
                            </div>
                            <p>{{ player['factionRates'][0]['name'] }}</p>
                            <p>{{ player['factionRates'][0]['winRate'] }}%</p>
                        {% endif %}
                    </div>
                    <div class="pie-inner">
                        {% if player['missionRates']|length > 0 %}
                            <h3>Best Mission</h3>
                            <div onclick="location.href='/mission/{{ player['missionRates'][0]['id'] }}';" class="pie animate no-round" style="--p:{{ player['missionRates'][0]['winRate'] }};--c:rgba(0,230,64,1);--b:5px">
                            </div>
                            <p>{{ player['missionRates'][0]['name'] }}</p>
                            <p>{{ player['missionRates'][0]['winRate'] }}%</p>
                        {% endif %}
                    </div>
                    <div class="pie-inner">
                        {% if player['secondaryRates']|length > 0 %}
                            <h3>Best Secondary</h3>
                            <div onclick="location.href='/secondary/{{ player['secondaryRates'][0]['id'] }}';" class="pie animate no-round" style="--p:{{ player['secondaryRates'][0]['winRate'] }};--c:rgba(0,230,64,1);--b:5px">
                            </div>
                            <p>{{ player['secondaryRates'][0]['name'] }}</p>
                            <p>{{ player['secondaryRates'][0]['winRate'] }}%</p>
                        {% endif %}
                    </div>
                </div>
                <h2>Factions played against</h2>
                <div class="table-container">
                    <div class="table">
                        <div class="table-header">
                            <div class="header__item">Name</div>
                            <div class="header__item">Win Rate</div>
                            <div class="header__item">Lose Rate</div>
                            <div class="header__item">Tie Rate</div>
                        </div>
                        <div class="table-content">
                            {% for faction in player['factionRatesAgainst'] %}
                                <div class="table-row">
                                    <div onclick="location.href='/faction/{{ faction['id'] }}';" class="table-data table-link">{{ faction['name'] }}</div>
                                    <div class="table-data">{{ faction['winRate'] }}%</div>
                                    <div class="table-data">{{ faction['loseRate'] }}%</div>
                                    <div class="table-data">{{ faction['tieRate'] }}%</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <h2>Factions played with</h2>
                <div class="table-container">
                    <div class="table">
                        <div class="table-header">
                            <div class="header__item">Name</div>
                            <div class="header__item">Win Rate</div>
                            <div class="header__item">Lose Rate</div>
                            <div class="header__item">Tie Rate</div>
                        </div>
                        <div class="table-content">
                            {% for faction in player['factionRates'] %}
                                <div class="table-row">
                                    <div onclick="location.href='/faction/{{ faction['id'] }}';" class="table-data table-link">{{ faction['name'] }}</div>
                                    <div class="table-data">{{ faction['winRate'] }}%</div>
                                    <div class="table-data">{{ faction['loseRate'] }}%</div>
                                    <div class="table-data">{{ faction['tieRate'] }}%</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <h2>Missions played</h2>
                <div class="table-container">
                    <div class="table">
                        <div class="table-header">
                            <div class="header__item">Name</div>
                            <div class="header__item">Win Rate</div>
                            <div class="header__item">Lose Rate</div>
                            <div class="header__item">Tie Rate</div>
                        </div>
                        <div class="table-content">
                            {% for mission in player['missionRates'] %}
                                <div class="table-row">
                                    <div onclick="location.href='/mission/{{ mission['id'] }}';" class="table-data table-link">{{ mission['name'] }}</div>
                                    <div class="table-data">{{ mission['winRate'] }}%</div>
                                    <div class="table-data">{{ mission['loseRate'] }}%</div>
                                    <div class="table-data">{{ mission['tieRate'] }}%</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <h2>Secondaries played</h2>
                <div class="table-container">
                    <div class="table">
                        <div class="table-header">
                            <div class="header__item">Name</div>
                            <div class="header__item">Win Rate</div>
                            <div class="header__item">Lose Rate</div>
                            <div class="header__item">Tie Rate</div>
                        </div>
                        <div class="table-content">
                            {% for secondary in player['secondaryRates'] %}
                                <div class="table-row">
                                    <div onclick="location.href='/secondary/{{ secondary['id'] }}';" class="table-data table-link">{{ secondary['name'] }}</div>
                                    <div class="table-data">{{ secondary['winRate'] }}%</div>
                                    <div class="table-data">{{ secondary['loseRate'] }}%</div>
                                    <div class="table-data">{{ secondary['tieRate'] }}%</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="player-super-container">
                <h3>This User hasn't yet linked this account with Steam</h3>
            </div>
        {% endif %}
    </div>

{% endblock %}