{% extends 'base.html' %}
{% block content %}
    {% if upd|length > 0 %}
        {% for update in upd %}
            {% if preferred == update.id|string %}
                <div class="player update-dependent" id="update{{ update.id }}" style="display: flex;">
            {% else %}
                <div class="player update-dependent" id="update{{ update.id }}">
            {% endif %}
                <h1>{{ player['sql'].username }}</h1>
                {% if player['sql'].allowSharing %}
                    {% if player['sql'].steamLink %}
                        <h3>Winrate: {{ player['updates'][update.id|string]['winRate'] }}</h3>
                        <div class="player-ultra-container">
                            <h3>Games won: {{ player['updates'][update.id|string]['wins'] }}</h3>
                            <h3>Games lost: {{ player['updates'][update.id|string]['loses'] }}</h3>
                            <h3>Games tied: {{ player['updates'][update.id|string]['ties'] }}</h3>
                        </div>
                        <div class="player-super-container">
                            <div class="pie-container at-0-8">
                                <div class="pie-inner">
                                    {% if player['updates'][update.id|string]['factionRates']|length > 0 %}
                                        <h3>Best Faction</h3>
                                        <div onclick="location.href='/faction/{{ player['updates'][update.id|string]['factionRates'][0]['id'] }}';" class="pie animate no-round" style="--p:{{ player['updates'][update.id|string]['factionRates'][0]['winRate'] }};--c:rgba(0,230,64,1);--b:5px">
                                            <img class="pie_image" src="{{ url_for('static', filename='images/' + player['updates'][update.id|string]['factionRates'][0]['shortName'] + '.png') }}"/>
                                        </div>
                                        <p>{{ player['updates'][update.id|string]['factionRates'][0]['name'] }}</p>
                                        <p>{{ player['updates'][update.id|string]['factionRates'][0]['winRate'] }}%</p>
                                    {% endif %}
                                </div>
                                <div class="pie-inner">
                                    {% if player['updates'][update.id|string]['missionRates']|length > 0 %}
                                        <h3>Best Mission</h3>
                                        <div onclick="location.href='/mission/{{ player['updates'][update.id|string]['missionRates'][0]['id'] }}';" class="pie animate no-round" style="--p:{{ player['updates'][update.id|string]['missionRates'][0]['winRate'] }};--c:rgba(0,230,64,1);--b:5px">
                                        </div>
                                        <p>{{ player['updates'][update.id|string]['missionRates'][0]['name'] }}</p>
                                        <p>{{ player['updates'][update.id|string]['missionRates'][0]['winRate'] }}%</p>
                                    {% endif %}
                                </div>
                                <div class="pie-inner">
                                    {% if player['updates'][update.id|string]['secondaryRates']|length > 0 %}
                                        <h3>Best Secondary</h3>
                                        <div onclick="location.href='/secondary/{{ player['updates'][update.id|string]['secondaryRates'][0]['id'] }}';" class="pie animate no-round" style="--p:{{ player['updates'][update.id|string]['secondaryRates'][0]['winRate'] }};--c:rgba(0,230,64,1);--b:5px">
                                        </div>
                                        <p>{{ player['updates'][update.id|string]['secondaryRates'][0]['name'] }}</p>
                                        <p>{{ player['updates'][update.id|string]['secondaryRates'][0]['winRate'] }}%</p>
                                    {% endif %}
                                </div>
                            </div>
                            <h2>Factions played against</h2>
                            <div class="table-container">
                                <div class="table">
                                    <div class="table-header">
                                        <div class="header__item">Name</div>
                                        <div class="header__item">Win Rate</div>
                                        <div class="header__item">Lose Rate</div>
                                        <div class="header__item">Tie Rate</div>
                                    </div>
                                    <div class="table-content">
                                        {% for faction in player['updates'][update.id|string]['factionRatesAgainst'] %}
                                            <div class="table-row">
                                                <div onclick="location.href='/faction/{{ faction['id'] }}';" class="table-data table-link">{{ faction['name'] }}</div>
                                                <div class="table-data">{{ faction['winRate'] }}%</div>
                                                <div class="table-data">{{ faction['loseRate'] }}%</div>
                                                <div class="table-data">{{ faction['tieRate'] }}%</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <h2>Factions played with</h2>
                            <div class="table-container">
                                <div class="table">
                                    <div class="table-header">
                                        <div class="header__item">Name</div>
                                        <div class="header__item">Win Rate</div>
                                        <div class="header__item">Lose Rate</div>
                                        <div class="header__item">Tie Rate</div>
                                    </div>
                                    <div class="table-content">
                                        {% for faction in player['updates'][update.id|string]['factionRates'] %}
                                            <div class="table-row">
                                                <div onclick="location.href='/faction/{{ faction['id'] }}';" class="table-data table-link">{{ faction['name'] }}</div>
                                                <div class="table-data">{{ faction['winRate'] }}%</div>
                                                <div class="table-data">{{ faction['loseRate'] }}%</div>
                                                <div class="table-data">{{ faction['tieRate'] }}%</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <h2>Missions played</h2>
                            <div class="table-container">
                                <div class="table">
                                    <div class="table-header">
                                        <div class="header__item">Name</div>
                                        <div class="header__item">Win Rate</div>
                                        <div class="header__item">Lose Rate</div>
                                        <div class="header__item">Tie Rate</div>
                                    </div>
                                    <div class="table-content">
                                        {% for mission in player['updates'][update.id|string]['missionRates'] %}
                                            <div class="table-row">
                                                <div onclick="location.href='/mission/{{ mission['id'] }}';" class="table-data table-link">{{ mission['name'] }}</div>
                                                <div class="table-data">{{ mission['winRate'] }}%</div>
                                                <div class="table-data">{{ mission['loseRate'] }}%</div>
                                                <div class="table-data">{{ mission['tieRate'] }}%</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <h2>Secondaries played</h2>
                            <div class="table-container">
                                <div class="table">
                                    <div class="table-header">
                                        <div class="header__item">Name</div>
                                        <div class="header__item">Win Rate</div>
                                        <div class="header__item">Lose Rate</div>
                                        <div class="header__item">Tie Rate</div>
                                    </div>
                                    <div class="table-content">
                                        {% for secondary in player['updates'][update.id|string]['secondaryRates'] %}
                                            <div class="table-row">
                                                <div onclick="location.href='/secondary/{{ secondary['id'] }}';" class="table-data table-link">{{ secondary['name'] }}</div>
                                                <div class="table-data">{{ secondary['winRate'] }}%</div>
                                                <div class="table-data">{{ secondary['loseRate'] }}%</div>
                                                <div class="table-data">{{ secondary['tieRate'] }}%</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="player-super-container">
                            <h3>Your account is not linked to Steam</h3>
                            <p>You won't be able to see any of your game data unless you link your Steam account with this one.</p>
                            <p>To do so, open TTS and download the following mod</p>
                            <a><u>https://steamcommunity.com/sharedfiles/filedetails/?id=2801351900</u></a>
                            <p>Then copy the following code and paste on the text field on the TTS mod</p>
                            <p>{{ player['sql'].publicId }}</p>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="player-super-container">
                        <h3>You are not sharing your data</h3>
                        <p>You won't be able to see any of your game data unless you allow sharing your data.</p>
                    </div>
                {% endif %}
                <div class="player-ultra-container">
                    {% if player['sql'].allowSharing %}
                        <a href="/allowance/stop">Stop sharing my data</a>
                    {% else %}
                        <a href="/allowance/start">Allow data sharing</a>
                    {% endif %}
                    {% if player['sql'].steamLink %}
                        <a href="/link/stop">Unlink</a>
                    {% endif %}
                    <a href="/delete">Delete</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}