{% extends 'base.html' %}
{% block content %}
    <div class="player update-dependent" style="display: flex;">
        <h1>{{ player['sql'].username }}</h1>
        {% if player['sql'].allowSharing %}
            {% if player['sql'].steamLink %}
                <h3>{{ _('Winrate') }}: {{ player['rates']['winRate'] }}</h3>
                <div class="player-ultra-container">
                    <h3>{{ _('Games won') }}: {{ player['rates']['wins'] }}</h3>
                    <h3>{{ _('Games lost') }}: {{ player['rates']['loses'] }}</h3>
                    <h3>{{ _('Games tied') }}: {{ player['rates']['ties'] }}</h3>
                </div>
                <div class="player-super-container">
                    <div class="pie-container at-0-8">
                        <div class="pie-inner">
                            {% if player['rates']['factionRates']|length > 0 %}
                                <h3>{{ _('Best Faction') }}</h3>
                                <div onclick="location.href='/faction/{{ player['rates']['factionRates'][0]['id'] }}';" class="pie animate no-round" style="--p:{{ player['rates']['factionRates'][0]['winRate'] }};--c:rgba(0,230,64,1);--b:5px">
                                    <img class="pie_image" src="{{ url_for('static', filename='images/' + player['rates']['factionRates'][0]['shortName'] + '.png') }}"/>
                                </div>
                                <p>{{ player['rates']['factionRates'][0]['name'] }}</p>
                                <p>{{ player['rates']['factionRates'][0]['winRate'] }}%</p>
                            {% endif %}
                        </div>
                        <div class="pie-inner">
                            {% if player['rates']['missionRates']|length > 0 %}
                                <h3>{{ _('Best Mission') }}</h3>
                                <div onclick="location.href='/mission/{{ player['rates']['missionRates'][0]['id'] }}';" class="pie animate no-round" style="--p:{{ player['rates']['missionRates'][0]['winRate'] }};--c:rgba(0,230,64,1);--b:5px">
                                </div>
                                <p>{{ player['rates']['missionRates'][0]['name'] }}</p>
                                <p>{{ player['rates']['missionRates'][0]['winRate'] }}%</p>
                            {% endif %}
                        </div>
                        <div class="pie-inner">
                            {% if player['rates']['secondaryRates']|length > 0 %}
                                <h3>{{ _('Best Secondary') }}</h3>
                                <div onclick="location.href='/secondary/{{ player['rates']['secondaryRates'][0]['id'] }}';" class="pie animate no-round" style="--p:{{ player['rates']['secondaryRates'][0]['winRate'] }};--c:rgba(0,230,64,1);--b:5px">
                                </div>
                                <p>{{ player['rates']['secondaryRates'][0]['name'] }}</p>
                                <p>{{ player['rates']['secondaryRates'][0]['winRate'] }}%</p>
                            {% endif %}
                        </div>
                    </div>
                    <h2>{{ _('Factions played against') }}</h2>
                    <div class="table-container">
                        <div class="table">
                            <div class="table-header">
                                <div class="header__item">{{ _('Name') }}</div>
                                <div class="header__item">{{ _('Winrate') }}</div>
                                <div class="header__item">{{ _('Lose Rate') }}</div>
                                <div class="header__item">{{ _('Tie Rate') }}</div>
                            </div>
                            <div class="table-content">
                                {% for faction in player['rates']['factionRatesAgainst'] %}
                                    <div class="table-row">
                                        <div onclick="location.href='/faction/{{ faction['id'] }}';" class="table-data table-link">{{ faction['name'] }}</div>
                                        <div class="table-data">{{ faction['winRate'] }}%</div>
                                        <div class="table-data">{{ faction['loseRate'] }}%</div>
                                        <div class="table-data">{{ faction['tieRate'] }}%</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <h2>{{ _('Factions played with') }}</h2>
                    <div class="table-container">
                        <div class="table">
                            <div class="table-header">
                                <div class="header__item">{{ _('Name') }}</div>
                                <div class="header__item">{{ _('Winrate') }}</div>
                                <div class="header__item">{{ _('Loserate') }}</div>
                                <div class="header__item">{{ _('Tierate') }}</div>
                            </div>
                            <div class="table-content">
                                {% for faction in player['rates']['factionRates'] %}
                                    <div class="table-row">
                                        <div onclick="location.href='/faction/{{ faction['id'] }}';" class="table-data table-link">{{ faction['name'] }}</div>
                                        <div class="table-data">{{ faction['winRate'] }}%</div>
                                        <div class="table-data">{{ faction['loseRate'] }}%</div>
                                        <div class="table-data">{{ faction['tieRate'] }}%</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <h2>{{ _('Missions played') }}</h2>
                    <div class="table-container">
                        <div class="table">
                            <div class="table-header">
                                <div class="header__item">{{ _('Name') }}</div>
                                <div class="header__item">{{ _('Winrate') }}</div>
                                <div class="header__item">{{ _('Loserate') }}</div>
                                <div class="header__item">{{ _('Tierate') }}</div>
                            </div>
                            <div class="table-content">
                                {% for mission in player['rates']['missionRates'] %}
                                    <div class="table-row">
                                        <div onclick="location.href='/mission/{{ mission['id'] }}';" class="table-data table-link">{{ mission['name'] }}</div>
                                        <div class="table-data">{{ mission['winRate'] }}%</div>
                                        <div class="table-data">{{ mission['loseRate'] }}%</div>
                                        <div class="table-data">{{ mission['tieRate'] }}%</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <h2>{{ _('Secondaries played') }}</h2>
                    <div class="table-container">
                        <div class="table">
                            <div class="table-header">
                                <div class="header__item">{{ _('Name') }}</div>
                                <div class="header__item">{{ _('Winrate') }}</div>
                                <div class="header__item">{{ _('Loserate') }}</div>
                                <div class="header__item">{{ _('Tierate') }}</div>
                            </div>
                            <div class="table-content">
                                {% for secondary in player['rates']['secondaryRates'] %}
                                    <div class="table-row">
                                        <div onclick="location.href='/secondary/{{ secondary['id'] }}';" class="table-data table-link">{{ secondary['name'] }}</div>
                                        <div class="table-data">{{ secondary['winRate'] }}%</div>
                                        <div class="table-data">{{ secondary['loseRate'] }}%</div>
                                        <div class="table-data">{{ secondary['tieRate'] }}%</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            <div class="player-ultra-container">
                <div class="player-super-container">
                    <h3>{{ _('Your account is not linked to Steam') }}</h3>
                    <p>{{ _("You won't be able to see any of your game data unless you link your Steam account with this one.") }}</p>
                    <p>{{ _('To do so, open TTS and download the following mod') }}</p>
                    <a><u>https://steamcommunity.com/sharedfiles/filedetails/?id=2801351900</u></a>
                    <p>{{ _('Then copy the following code and paste on the text field on the TTS mod') }}</p>
                    <p>{{ player['sql'].publicId }}</p>
                </div>
            </div>
            {% endif %}
        {% else %}
            <div class="player-ultra-container">
                <div class="player-super-container">
                    <h3>{{ _('You are not sharing your data') }}</h3>
                    <p>{{ _("You won't be able to see any of your game data unless you allow sharing your data.") }}</p>
                </div>
            </div>
        {% endif %}
        {% if not player['sql'].subscribed %}
            <div class="player-ultra-container">
                <div class="login player-super-container">
                    <h2>{{ _('Subscribe to KTD news') }}</h2>
                    <form class="login-form" action="/subscribe" method="post">
                        <input placeholder="email" type="text" name="email" id="email">
                        <button type="submit">{{ _('Subscribe') }}</button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="player-ultra-container">
                <div class="login player-super-container">
                    <h3>You are subcribed to KTD news</h3>
                    <form class="login-form" action="/unsubscribe" method="post">
                        <button type="submit">{{ _('Unsubscribe') }}</button>
                    </form>
                </div>
            </div>
        {% endif %}
        <div class="player-ultra-container">
            {% if player['sql'].allowSharing %}
                <a href="/allowance/stop">{{ _('Stop sharing my data') }}</a>
            {% else %}
                <a href="/allowance/start">{{ _('Allow data sharing') }}</a>
            {% endif %}
            {% if player['sql'].steamLink %}
                <a href="/link/stop">{{ _('Unlink') }}</a>
            {% endif %}
            <a onclick="onDeleteUser()" href="javascript:void(0);">{{ _('Delete') }}</a>
            <a href="/logout">{{ _('Logout') }}</a>
        </div>
    </div>
    <div class="popup-delete"
         style="display: none;
                flex-direction: column;
                box-shadow: 10px 20px rgba(0, 0, 0, .5);">
        <h2 style="margin:20px;text-align:center;color:rgba(255,101,0,1);">{{ _('Are you sure you want to delete your account?') }}</h2>
        <h5 style="text-align:center;color:rgba(255,101,0,1);">{{ _("Type 'delete' and your username") }} ({{ player['sql'].username}}) {{ _("then click OK") }}</h5>
        <form style="
                margin: 20px;
                display: flex;
                flex-direction: column;"
                class="login-form" action="/delete" method="post">
            <input style="
                    width: 20%;
                    align-self: center;
                    margin-bottom: 5px;"
                   type="text" placeholder="Type 'delete'" name="conf" id="conf">
            <input style="
                    width: 20%;
                    align-self: center;
                    margin-bottom: 5px;"
                   type="text" placeholder="Your username" name="name" id="name">
            <button style="
                    width: 10%;
                    align-self: center;"
                    type="submit">OK</button>
        </form>
        <button style="
                width: 10%;
                align-self: center;"
                onClick="onCancelDeleteUser()">{{ _('Cancel') }}</button>
    </div>
{% endblock %}