{% extends 'base.html' %}
{% block content %}
    <div class="table-container update-dependent" style="display: flex;">
        <div class="table">
            <div class="table-header">
                <div class="header__item">{{ _('Name') }}</div>
                <div class="header__item">{{ _('Popularity') }}</div>
                <div class="header__item">{{ _('Avg Score') }}</div>
                <div class="header__item">{{ _('Top Faction') }}</div>
                <div class="header__item">{{ _('Worst Faction') }}</div>
            </div>
            <div class="table-content">
                {% for secondary in secondaries %}
                    <div class="table-row">
                        <div onclick="location.href='/secondary/{{ secondary['sql'].id }}';" class="table-data table-link">{{ secondary['sql'].name }}</div>
                        <div class="table-data">{{ secondary['rates']['popularity'] }}%</div>
                        <div class="table-data">{{ secondary['sql'].avgScore }}</div>
                        {% if secondary['rates']['topFaction'] %}
                            <div onclick="location.href='/faction/{{ secondary['rates']['topFaction'].id }}';" class="table-data table-link">{{ secondary['rates']['topFaction'].name }}</div>
                        {% else %}
                            <div class="table-data table-link">-</div>
                        {% endif %}
                        {% if secondary['rates']['worstFaction'] %}
                            <div onclick="location.href='/faction/{{ secondary['rates']['worstFaction'].id }}';" class="table-data table-link">{{ secondary['rates']['worstFaction'].name }}</div>
                        {% else %}
                            <div class="table-data table-link">-</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}