{% extends 'base.html' %}
{% block content %}
    <div class="player">
        <div class="player-super-container">
            <h1>{{ _('Join the KTD Team') }}</h1>
            <h3 id="opt-1">{{ _('Exclusive Data') }}</h3>
            <p>{{ _('You will have access to exclusive information like ??') }}</p>
            <h3 id="opt-2">{{ _('Tournament Stats') }}</h3>
            <p>{{ _('Informations of the tournaments added by the community') }}</p>
            <h3 id="opt-3">{{ _('Operative Data') }}</h3>
            <p>{{ _('Stats for the operatives used on the games') }}</p>
            <h3 id="opt-4">{{ _('Personalised stats') }}</h3>
            <p>{{ _('How many guardsmen you killed? What is your preferred ??') }}</p>
            <h3 id="opt-5">{{ _('Manual adding') }}</h3>
            <p>{{ _('You will be able to add games manually to keep track even for your games outside TTS') }}</p>
            <h3 id="opt-6">{{ _('Tournament Adding') }}</h3>
            <p>{{ _('You will be able to add tournaments manually') }}</p>
            <div class="table-container">
                <div class="table">
                    <div class="table-header">
                        <div class="header__item">{{ _('Level') }}</div>
                        <div class="header__item">{{ _('Contribution') }}</div>
                        <div onclick="location.href='#opt-1';" class="header__item">{{ _('Exclusive Data') }}</div>
                        <div onclick="location.href='#opt-2';" class="header__item">{{ _('Tournament Stats') }}</div>
                        <div onclick="location.href='#opt-3';" class="header__item">{{ _('Operative Data') }}</div>
                        <div onclick="location.href='#opt-4';" class="header__item">{{ _('Personalised Stats') }}</div>
                        <div onclick="location.href='#opt-5';" class="header__item">{{ _('Manual Adding') }}</div>
                    </div>
                    <div class="table-content">
                        <div class="table-row">
                            <div onclick="window.open('https://ko-fi.com/killteamdata/tiers');" class="table-data table-link">{{ _('Plasteel') }}</div>
                            <div class="table-data table-link">2.99$</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link"> </div>
                            <div class="table-data table-link"> </div>
                            <div class="table-data table-link"> </div>
                        </div>
                        <div class="table-row">
                            <div onclick="window.open('https://ko-fi.com/killteamdata/tiers');" class="table-data table-link">{{ _('Ceramite') }}</div>
                            <div class="table-data table-link">4.99$</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link"> </div>
                            <div class="table-data table-link"> </div>
                        </div>
                        <div class="table-row">
                            <div onclick="window.open('https://ko-fi.com/killteamdata/tiers');" class="table-data table-link">{{ _('Diamantite') }}</div>
                            <div class="table-data table-link">9.99$</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link"> </div>
                        </div>
                        <div class="table-row">
                            <div onclick="window.open('https://ko-fi.com/killteamdata/tiers');" class="table-data table-link">{{ _('Adamantium') }}</div>
                            <div class="table-data table-link">14.99$</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link">X</div>
                            <div class="table-data table-link">X</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}