{% extends 'base.html' %}
{% block content %}
    <div class="player update-dependent" style="display: flex;">
        <h1>{{ tournament['sql'].name }}</h1>
        <div class="player-super-container">
            <h2>{{ _('Players') }}</h2>
            <div class="table-container">
                <div class="table">
                    <div class="table-header">
                        <div class="header__item">{{ _('Name') }}</div>
                        <div class="header__item">{{ _('Faction') }}</div>
                        <div class="header__item">{{ _('Games') }}</div>
                        <div class="header__item">{{ _('Winrate') }}</div>
                        <div class="header__item">{{ _('Loserate') }}</div>
                        <div class="header__item">{{ _('Tierate') }}</div>
                    </div>
                    <div class="table-content">
                        {% for player in tournament['rates']['playerRates'].items() %}
                            <div class="table-row">
                                <div onclick="location.href='/player/{{ player[1]['sql'].id }}';" class="table-data table-link">{{ player[1]['sql'].username }}</div>
                                <div onclick="location.href='/faction/{{ player[1]['faction'].id }}';" class="table-data table-link">{{ player[1]['faction'].name }}</div>
                                <div class="table-data">{{ player[1]['total'] }}</div>
                                <div class="table-data">{{ player[1]['winRate'] }}%</div>
                                <div class="table-data">{{ player[1]['loseRate'] }}%</div>
                                <div class="table-data">{{ player[1]['tieRate'] }}%</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <h2>{{ _('Games') }}</h2>
            <div class="table-container">
                <div class="table">
                    <div class="table-header">
                        <div class="header__item">{{ _('Date') }}</div>
                        <div class="header__item">{{ _('Mission') }}</div>
                        <!--<div class="header__item">Player 1</div>-->
                        <div class="header__item">{{ _('Faction 1') }}</div>
                        <!--<div class="header__item">Player 2</div>-->
                        <div class="header__item">{{ _('Faction 2') }}</div>
                        <div class="header__item">{{ _('Result') }}</div>
                        <div class="header__item">{{ _('Winner') }}</div>
                    </div>
                    <div class="table-content">
                        {% for game in tournament['sql'].games %}
                            <div class="table-row">
                                <div onclick="location.href='/game/{{ game.id }}';" class="table-data table-link">{{ game.date.strftime("%Y-%m-%d") }}</div>
                                <div onclick="location.href='/mission/{{ game.mission[0].id }}';" class="table-data table-link">{{ game.mission[0].name }}</div>
                                <!--<div onclick="location.href='/player/{{ game.winner[0].id }}';" class="table-data table-link">{{ game.winner[0].username }}</div>-->
                                <div onclick="location.href='/faction/{{ game.winFaction[0].id }}';" class="table-data table-link">{{ game.winFaction[0].name }}</div>
                                <!--<div onclick="location.href='/player/{{ game.loser[0].id }}';" class="table-data table-link">{{ game.loser[0].username }}</div>-->
                                <div onclick="location.href='/faction/{{ game.losFaction[0].id }}';" class="table-data table-link">{{ game.losFaction[0].name }}</div>
                                <div class="table-data">{{ game.winTotal }} - {{ game.losTotal }}</div>
                                {% if not game.tie %}
                                    <div onclick="location.href='/faction/{{ game.winFaction[0].id }}';" class="table-data table-link">{{ game.winFaction[0].name }}</div>
                                {% else %}
                                    <div class="table-data">{{ _('Tie') }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}