{% extends 'base.html' %}
{% block content %}
    <div class="player update-dependent" style="display: flex;">
        <h1>{{ tournament['sql'].name }}</h1>
        <div class="player-super-container">
            <h2>{{ _('Players') }}</h2>
            <div class="table-container">
                <div class="table">
                    <div class="table-header">
                        <div class="header__item">{{ _('Name') }}</div>
                        <div class="header__item">{{ _('Faction') }}</div>
                        <div class="header__item">{{ _('Games') }}</div>
                        <div class="header__item">{{ _('Winrate') }}</div>
                        <div class="header__item">{{ _('Loserate') }}</div>
                        <div class="header__item">{{ _('Tierate') }}</div>
                    </div>
                    <div class="table-content">
                        {% for player in tournament['rates']['players'].items() %}
                            {% if fact['games'] > 0 %}
                                <div class="table-row">
                                    <div onclick="location.href='/player/{{ player.id }}';" class="table-data table-link">{{ player.name }}</div>
                                    <div class="table-data">{{ tournament['rates']['playerRates'][player.id|str]['total'] }}</div>
                                    <div onclick="location.href='/faction/{{ tournament['rates']['playerRates']['faction'].id }}';" class="table-data table-link">{{ tournament['rates']['playerRates']['faction'].name }}</div>
                                    <div class="table-data">{{{ tournament['rates']['playerRates']['winRate'] }}%</div>
                                    <div class="table-data">{{ tournament['rates']['playerRates']['loseRate'] }}%</div>
                                    <div class="table-data">{{ tournament['rates']['playerRates']['tieRate'] }}%</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}